.mainContainer{
    width:100%;
    display: flex;
    padding:1rem;
    background-color: aliceblue;

    .friendList {
        width: 30%;
        padding:1rem;
        border-right: 1px solid lightgrey;
        
    }

    .chatArea {
        width: 70%;
        padding:1rem;
    }

}